@keyframes icon-bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
.rx-feature-section {
	top: -90px;
	z-index: 2;
	overflow: visible;
}
.rx-feature-icon-text {
	padding: 50px 40px;
	background-color: #190200;
	transition: .3s all ease-in-out;
	.rx-feature-icon {
		line-height: 1;
		padding-bottom: 30px;
		i {
			font-size: 50px;
			color: $base-color;
		}
	}
	.rx-feature-text {
		h3 {
			color: #000;
			color: #fff;
			font-size: 22px;
			font-weight: 700;
			padding-bottom: 15px;
		}
		p {
			color: #bebebe;
			line-height: 1.733;
			transition: .3s all ease-in-out;
		}
	}
	&:hover {
		background-color: #fafafa;
		.rx-feature-text {
			h3 {
				color: #000;
			}
			p {
				color: #555555;
			}
		}
		.rx-feature-icon  {
			animation: icon-bounce .8s ease-out infinite;
		}
	}
}